.Slider{
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
}

.minValue{
    margin-top: 10px;
}
.maxValue{
    display: inline;
}

.Datediv{
    margin-top: 5px;
    display: flex;

}

#filtertext{
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 7px;
}
.sliderleft{
    width: 100%;
}
.slidertext{
    width: 100%;
    margin-left: 20px;
}
.filterButtonDiv{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}
